
/*log in popup*/

.login_popup{
	position: absolute;
	top: -300%;
	left: 50%;
	transform: translate(-50%,-50%) scale(1.15);
	width: 400px;
	/*height: 450px;*/
	background-color: white;
	z-index: 2;
	opacity: 0;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
	transition: transform 300ms ease-in-out,opacity 300ms ease-in-out;
	border-radius: 10px;
}

.signup_popup{
	position: absolute;
	top: -300%;
	left: 50%;
	transform: translate(-50%,-50%) scale(1.15);
	width: 400px;
	/*height: 700px;*/
	background-color: white;
	z-index: 2;
	opacity: 0;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
	transition: transform 300ms ease-in-out,opacity 300ms ease-in-out;
	border-radius: 10px;
}

.showLogInForm .popup_overlay {
  display:block;
}

.showLogInForm .login_popup {
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}

.showSignUpForm .popup_overlay {
  display:block;
}

.showSignUpForm .signup_popup {
  top:70%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}

/*------------------------------------------------------------------*/
/*Middle content classes*/

.icon{
	float: right;
	padding: 0 10px;
}

.slogan{
	text-align: center;
	font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #121214;
}

h1.slogan{
	font-size: 40px;
}

h2.slogan{
	font-size: 20px;
}

.form{
	padding: 50px;
}

.container{
	background-color: #FFFFFF;
    padding: 0 100px;
    line-height: 50px;
    background-color: lightgrey;
    border-radius: 30PX;
    margin: 0px 200px;
}

.location{
	width: 30%;
	height: 70px;
	margin: 0 0;
	border: 0;
	padding: 0;
	float:left;
}

.from{
	width: 30%;
	height: 70px;
	margin: 0 0;
	border: 0;
	padding: 0;
	float:left;
}

.until{
	width: 30%;
	height: 70px;
	margin: 0 0;
	border: 0;
	padding: 0;
	float:left;
}

.label{
	font-size: 10px;
	font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 20px;
    line-height: 20px;
}

.srch_button_div{

	width: 10%;
	height: 70px;
	display: flex;
	justify-content: center;

}

.search_button{
	margin-top: 10px;
	align-self: center;
}

.search_button i{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50px; 
	background-color: white;
	cursor: pointer;
}

.search_button i:hover{
	background-color: lightblue;
}

.search_button i:active{
	transform: scale(0.7);
}

.input_style{
	width: 100%;
	height:60%;
	border: none;
	padding: 10 20 10 20;
}

.middle_content{
	padding-top: 50px; 
}

.m_image_div_style{
	height: 400px;
	width: 100%;
	background-size: cover; 
	background-image: url("../Asserts/test_var.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.dots_style{
	padding:10px;
}

.dot {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.categories_style{
	padding: 10px 70px 10px 70px;
}

.cl1{
	font-size: 20px;
	font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}

/*Here goes css for car browse*/

.browse{
	display: flex; 
	justify-content: center;
}

.browse_cars{
	padding: 30px 30px 30px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.browse_cars_style{
 	height: 150px;
 	width: 200px;
 	padding-left: 10px;
 	padding-right: 10px;
 	 scroll-behavior: smooth;
 }

.browse_cars_img{
	width: 200px; 
	height: 150px;
	border-radius: 10px;
}

.browse_cars_label{
	font-size: 15px;
	color: #231F20;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
	text-align: center;
}

/*White Space*/
.white_space{
	width: 100%;
	height: 100px;
	background-color: white;
}

.advice{
	height: 200px;
	width: 100%;
	background-color: #3A302E;
}

/*top_label_div{
	padding-left: 30px;
}

.top_label{
	font-size: 20px;
	font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}
*/

/*Benefits*/
.benefits{
	justify-content: center;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #EEEEE9;
}

.benbenefits_sub{
	display: flex;
	align-items: center;
	justify-content: center;
}

.benefits_sub_div{
	width: 300px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

/*Responsive*/

@media screen and (max-width: 1600px) {

	.benefits_sub{
		text-align: center;
	}

	.benefits_sub_div{
		text-align: center;
		font-size: 25px;
	}

	.benefits{
		padding-left: 200px;
		padding-right: 200px;
	}

	.container{
		margin:0px;
	}

	.location, .from, .until, .srch_button_div{
		height: 100px;
	}

	.label{
		font-size: 15px;
	}

	.input_style{
		font-size: 20px;
	}


}


@media screen and (max-width: 1250px) {

	.benefits{
		padding-left: 100px;
		padding-right: 100px;
	}

	.benefits_sub_div{
		font-size: 20px;
	}

	.container{
		padding: 0 50px;
	}

}

@media screen and (max-width: 1200px) {

	.popups_div{
		width: 100%;
		display:flex;
		flex-direction: row;
		justify-content: center;
	}

	.icon{
		display: none;
	}

	.nav_style{
		font-size: 20px;
	}

	.search_box{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

}

@media screen and (max-width: 1150px) {

	.location{
		padding-top: 20px;
	}

	.container{
		display: flex;
		flex-direction: column;
	}

	.location, .from, .until, .srch_button_div{
		width: 100%;
	}

	.input_style{
		border-radius: 15px 15px !important;
	}

}

@media screen and (max-width: 1000px) {

	.benefits{
		padding-left: 0px;
		padding-right: 0px;
	}

}

@media screen and (max-width: 900px) {

	.benbenefits_sub{
		display: flex;
		flex-direction: column;
	}

	.benefits_sub_div{
		width: auto;
	}

	.m_image_div_style{
		height: 300px;
	}

}

@media screen and (max-width: 650px) {

	.browse_cars{
		width: 60%;
		height: 250px;
	}

	.browse_cars_img, .browse_cars_style{
		width: 100%;
		height: 100%;
	}

	.cl1{
		text-align: center;
	}

}

@media screen and (max-width: 600px) {

	.m_image_div_style{
		height: 200px;
	}

	.dot{
		width: 25px;
		height: 25px;
	}

	.container {
    	padding: 0px 20px;
	}

}

@media screen and (max-width: 500px) {

	.browse_cars{
		width: 55%;
		height: 200px;
	}

	.cl1{
		font-size:15px;
	}

	.form{
		padding-right: 15px;
		padding-left: 15px;
	}

}

@media screen and (max-width: 400px) {

	.benbenefits_sub{
		font-size: 15px;
	}

	.m_image_div_style{
		height: 150px;
	}

	.dot{
		width: 20px;
		height: 20px;
	}

	.browse_cars{
		width: 80%;
		height: 150px;
		padding:0px;
		padding-top: 10px;
	}

}

@media screen and (max-width: 350px) {

	.location, .from, .until, .srch_button_div {

		height: 80px;

	}

}

@media screen and (max-width: 320px) {

	.browse_cars{
		height: 130px;
	}

	.form{
		padding-right: 5px;
		padding-left: 5px;
	}

	.categories_style, .browse, .white_space{
		display: none;
	}

}

@media screen and (max-width: 280px) {

	.browse_cars{
		height: 100px;
	}

	.cl1{
		font-size:13px;
	}

}
