
.info_text_content{
	background-color: lightgrey;
	padding-top: 50px;
	/*padding-bottom: 50px;*/
	padding-left: 300px;
	padding-right: 300px;
	display: flex;
  	flex-direction: column;
}

.info_text{
	height: 100%;
	text-align: center;
}

.info_text_style{
	text-align: initial;
	font-size: 18px;
	padding-top: 50px;
}

.info_img{
	padding-top: 10px;
	width: 100%;
	height: auto;
}

/*Responsive*/

@media screen and (max-width: 1550px) {
  .info_text_content{
	padding-left: 100px;
	padding-right: 100px;
  }

  .info_text_style{
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .info_text_content{
	padding-left: 20px;
	padding-right: 20px;
  }

  .info_text_style{
    font-size: 20px;
  }

}



